body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    letter-spacing: -0.025rem;
    line-height: 130%;
    overflow-x: hidden;
}

/*
메인 페이지
 */
.wrap {
    margin: 54px auto 54px auto;
    max-width: 540px;
    /*max-width*/
    height: 100%;
    background-color: #ffffff;
}

/*
상단 고정 헤더
*/

.header {
    top: 0;
    position: fixed;
    width: 100%;
    max-width: 540px;
    /*max-width*/
    height: 56px;
    z-index: 999;
    background-color: #ffffff;
}

/*로고 헤더*/
.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*뒤로가기 헤더*/
.header--back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--back>h2 {
    font-size: 18px;
}

.header--right {
    display: flex;
    right: 0;
    position: absolute;
}

/*커뮤니티 헤더*/
.header__community {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__community>h2 {
    padding-left: 24px;
    font-size: 24px;
}

/*헤더 오른쪽 ICON*/
.header-right-icon {
    position: absolute;
    right: 0;
    display: flex;
}

/*아이콘 버튼*/
.icon-button-56 {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button-56:after {
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 24px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.icon-button-56:hover:after {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-button-24 {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button-24:after {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.icon-button-24:hover:after {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.header__back-button {
    position: absolute;
    left: 0;
}

/*
하단 네비게이션
*/

.navigation-bottom {
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 2px #EDEDED;
}

/*
원형 체크박스 (input)
*/
.input-checkbox {
    display: none;
}

.input-checkbox+label {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #CCCCCC;
}

.input-checkbox:checked+label {
    border: 6px solid #596ae5;
}

textarea {
    width: 100%;
    height: 60px;
    resize: none;
    border: 1px solid #DCDCDC;
}

textarea:focus {
    border: #DCDCDC;
}

/*
하단 네비게이션
*/

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}

.bottom-nav-area {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.bottom-nav-area a {
    width: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bottom-nav-area span {
    color: #B5B5B5;
}

.bottom-nav-area p {
    margin-top: 2px;
    font-size: 10px;
    color: #B5B5B5;
}

.nav--active p {
    color: black;
}

.community-list {
    padding: 8px 24px;
}

.community-list>h4 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: normal;
    color: #818181;
}

.community-list a {
    padding: 8px;
    display: flex;
    align-items: center;
    color: #2b2b2b;
    font-size: 16px;
}

.community-list a:hover {
    background-color: #f8f8f8;
}

.community-list img {
    margin-right: 8px;
}

/* 게시글 목록 */

.post-list {
    padding-top: 14px;
    padding-left: 0;
}

/* 게시글 박스 */
.post-list__container {
    position: relative;
    padding: 16px 24px 30px;
    border-bottom: 1px solid #e7e7e7;
    -webkit-transition: all 0.08s ease-in-out;
    -o-transition: all 0.08s ease-in-out;
    transition: all 0.08s ease-in-out;
}

.post-list__container:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

/* 게시글 제목 */
.post-list__title {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.post-list__title>img {
    margin-right: 8px;
}

.post-list__title>h3 {
    font-size: 16px;
}

.post-list__title>h3>span {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: bold;
    color: #ff3a3a;
}

/* 게시글 내용 */
.post-list__container>p {
    font-size: 14px;
    color: #7b7b7b;
}

/* 게시글 등록시간, 좋아요 수 */
.post-list__info {
    position: absolute;
    right: 24px;
    bottom: 8px;
    display: flex;
    align-items: center;
    color: #7b7b7b;
}

.post-list__info>span {
    font-size: 12px;
}