<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frankly.restapi.mapper.BoardMapper">

<!--    resultmap 복습필요.-->
    <resultMap type="BoardDTO" id="boardResultMap">
        <id column="id" property="id"/>
        <result column="author" property="author"/>
        <result column="regDate" property="regDate"/>
        <result column="marked" property="marked"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
    </resultMap>

    <insert id="createBoard" parameterType="BoardDTO">
    INSERT INTO member_info.board(author, regDate, marked, title, content, region)
    VALUES(#{author}
        ,#{regDate}
        ,#{marked}
        ,#{title}
        ,#{content}
        ,#{region})
    </insert>

    <select id="readBoard" resultMap="boardResultMap">
        SELECT * FROM member_info.board
        WHERE id = #{id} AND region = #{region}
    </select>

    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE member_info.board
        SET marked = #{marked},
            title = #{title},
            content = #{content}
        WHERE id = #{id} AND region = #{region}
    </update>



</mapper>
