<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frankly.restapi.mapper.BoardMapper">

<!--    resultmap 복습필요.-->
    <resultMap type="BoardDTO" id="boardResultMap">
        <id column="boardID" property="boardID"/>
        <result column="userID" property="userID"/>
        <result column="regDate" property="regDate"/>
        <result column="marked" property="marked"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
    </resultMap>

    <insert id="createBoard" parameterType="BoardDTO">
    INSERT INTO frankly.board(userID, regDate, marked, title, content, region)
    VALUES(#{userID}
        ,#{regDate}
        ,#{marked}
        ,#{title}
        ,#{content}
        ,#{region})
    </insert>

    <select id="readBoard" resultMap="boardResultMap">
        SELECT * FROM frankly.board
        WHERE boardID = #{boardID} AND region = #{region}
    </select>

    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE frankly.board
        SET marked = #{marked},
            title = #{title},
            content = #{content}
        WHERE boardID = #{boardID} AND region = #{region}
    </update>


    <delete id="deleteBoard" parameterType="BoardDTO">
        DELETE FROM frankly.board
        WHERE boardID = #{boardID} AND region = #{region}
    </delete>

    <select id="allBoardList" resultMap="boardResultMap">
        SELECT * FROM frankly.board
        WHERE region = #{region}
    </select>

</mapper>
