<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frankly.restapi.mapper.LikeMapper">

    <resultMap type="LikeDTO" id="likeResultMap">
        <id column="likeID" property="likeID"/>
        <result column="userID" property="userID"/>
        <result column="likeCount" property="likeCount"/>
    </resultMap>

    <resultMap type="BoardDTO" id="boardResultMap">
        <id column="boardID" property="boardID"/>
        <result column="userID" property="userID"/>
        <result column="boardRegDate" property="boardRegDate"/>
        <result column="marked" property="marked"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="region" property="region"/>
    </resultMap>


    <!-- 좋아요 누르기 -->
    <insert id="createLike" parameterType="LikeDTO">
        INSERT INTO frankly.Like(userID, boardID)
        VALUES(#{userID}
              ,#{boardID})
    </insert>

    <!-- 마이페이지 좋아요 리스트 -->
    <select id="readLike" resultMap="likeResultMap">
        SELECT *
        FROM frankly.Like L LEFT JOIN frankly.Board B
                                      ON B.boardID = L.boardID
        WHERE L.userID = #{userID}
    </select>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike" parameterType="LikeDTO">
        DELETE FROM frankly.Like
        WHERE boardID = #{boardID} AND userID = #{userID}
    </delete>

    <!-- 좋아요 카운트 -->
    <select id="countLike" resultMap="likeResultMap">
        SELECT count(boardID) as likeCount
        FROM frankly.Like
        WHERE boardID = #{boardID}
    </select>

</mapper>
