<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frankly.restapi.mapper.MemberMapper">

    <resultMap type="MemberDTO" id = "memberResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="hanName" property="hanName"/>
        <result column="engName" property="engName"/>
        <result column="lunar" property="lunar"/>
        <result column="birthday" property="birthday"/>
        <result column="party" property="party"/>
        <result column="district" property="district"/>
        <result column="selectNumber" property="selectNumber"/>
        <result column="selectInfo" property="selectInfo"/>
        <result column="sex" property="sex"/>
        <result column="contact" property="contact"/>
        <result column="office" property="office"/>
        <result column="email" property="email"/>
        <result column="homepage" property="homepage"/>
        <result column="aide" property="aide"/>
        <result column="secretary" property="secretary"/>
        <result column="personalAssistant" property="personalAssistant"/>
    </resultMap>

    <select id="memberList" resultMap="memberResultMap">
        SELECT *
        FROM member_info.memberinfo
    </select>


<!--    Mapper 매서드 이름과 Mapping-->
    <select id="readMember" resultMap="memberResultMap">
        SELECT * FROM member_info.memberinfo
        WHERE id = #{id}
    </select>



    <insert id="insertMember">
        INSERT INTO member_info.memberinfo
            VALUES (#{name}
            , #{hanName}
            , #{engName}
            , #{lunar}
            , #{birthday}
            , #{party}
            , #{district}
            , #{selectNumber}
            , #{selectInfo}
            , #{sex}
            , #{contact}
            , #{office}
            , #{email}
            , #{homepage}
            , #{aide}
            , #{secretary}
            , #{personallAssitant}
            , #{id})
    </insert>

</mapper>
