<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frankly.restapi.mapper.NewsMapper">

    <resultMap type="NewsDTO" id="newsResultMap">
        <id column="newsID" property="newsID"/>
        <result column="politicianID" property="politicianID"/>
        <result column="newsTitle" property="newsTitle"/>
        <result column="newsURL" property="newsURL"/>
        <result column="newsKeyword" property="newsKeyword"/>
        <result column="newsAbstract" property="newsAbstract"/>
        <result column="newsDate" property="newsDate"/>
        <result column="newsContents" property="newsContents"/>
    </resultMap>

    <resultMap type="NewsKeywordDTO" id="newsKeywordResultMap">
        <id column="NewsKeywordID" property="NewsKeywordID"/>
        <result column="politicianID" property="politicianID"/>
        <result column="newsKeyword" property="newsKeyword"/>
    </resultMap>

    <!-- 뉴스랑 키워드 읽기 -->
    <select id="readNews" resultMap="newsResultMap">
        SELECT N.*, K.newsKeyword
        FROM frankly.News N LEFT JOIN frankly.NewsKeyword K
        ON N.newsID = K.newsID
        WHERE N.politicianID = #{politicianID}
    </select>

    <!-- 뉴스 수정 -->
    <update id="updateNews" parameterType="NewsDTO">
        UPDATE frankly.News
        SET NewsID = #{NewsID},
            politicianID = #{politicianID},
            newsTitle = #{newsTitle},
            newsURL = #{newsURL},
            newsKeyword = #{newsKeyword},
            newsAbstract = #{newsAbstract},
            newsDate = #{newsDate},
            newsContents = #{newsContents}
        WHERE newsID = #{newsID}
    </update>

    <!-- 뉴스 키워드 수정 -->
    <update id="updateNewsKeyword" parameterType="NewsKeywordDTO">
        UPDATE frankly.NewsKeyword
        SET NewsKeywordID = #{NewsKeywordID},
            politicianID = #{politicianID},
            newsKeyword = #{newsKeyword}
        WHERE NewsKeywordID = #{NewsKeywordID}
    </update>

    <!-- 뉴스 삭제 -->
    <delete id="deleteNews" parameterType="NewsDTO">
        DELETE FROM frankly.News
        WHERE newsID = #{newsID}
    </delete>

    <!-- 뉴스 키워드 삭제 -->
    <delete id="deleteNewsKeyword" parameterType="NewsKeywordDTO">
        DELETE FROM frankly.NewsKeyword
        WHERE newsKeywordID = #{newsKeywordID}
    </delete>

</mapper>
