<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frankly.restapi.mapper.UserMapper">


    <resultMap type="UserDTO" id = "userResultMap">
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="district" property="district"/>
        <result column="sex" property="sex"/>
        <result column="auth" property="userAuth"/>
        <result column="contact" property="contact"/>
    </resultMap>

    <select id="userList" resultMap="userResultMap">
        SELECT * FROM member_info.userinfo
        ORDER BY id asc
    </select>

    <select id="readUser" resultMap="userResultMap">
        SELECT * FROM member_info.userinfo
        WHERE id = #{id}
    </select>

    <select id="getUserByEmail" resultMap="userResultMap">
        SELECT email,password,auth FROM member_info.userinfo
        WHERE email = #{email}

    </select>

    <insert id="createUser" parameterType="UserDTO">
        INSERT INTO member_info.userinfo(email, name, password, district, sex, auth, contact)
        VALUES(#{email},
               #{name},
               #{password},
               #{district},
               #{sex},
               #{userAuth},
               #{contact})
    </insert>

    <insert id="deleteUser" parameterType="Long">
        DELETE FROM member_info.userinfo
        WHERE id = #{id}
    </insert>

    <update id="updateUser" parameterType="UserDTO">
        UPDATE member_info.userinfo
        SET password = #{password},
            district = #{district},
            sex = #{sex},
            auth = #{auth},
            contact = #{contact}
        WHERE id = #{id}
    </update>




</mapper>
