<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.frankly.restapi.domain.BoardDTO" alias="BoardDTO"/>
        <typeAlias type="com.frankly.restapi.domain.UserDTO" alias="UserDTO"/>
        <typeAlias type="com.frankly.restapi.domain.PoliticianDTO" alias="MemberDTO"/>
        <typeAlias type="com.frankly.restapi.domain.RegionNumberDTO" alias="RegionNumberDTO"/>
    </typeAliases>

</configuration>
