<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.frankly.restapi.domain.BoardDTO" alias="BoardDTO"/>
        <typeAlias type="com.frankly.restapi.domain.UserDTO" alias="UserDTO"/>
        <typeAlias type="com.frankly.restapi.domain.PoliticianDTO" alias="PoliticianDTO"/>
        <typeAlias type="com.frankly.restapi.domain.RegionNumberDTO" alias="RegionNumberDTO"/>
        <typeAlias type="com.frankly.restapi.domain.ConferenceAttendanceDTO" alias="ConferenceAttendanceDTO"/>
        <typeAlias type="com.frankly.restapi.domain.ConferenceScheduleDTO" alias="ConferenceScheduleDTO"/>
        <typeAlias type="com.frankly.restapi.domain.ConferenceBillLawDTO" alias="ConferenceBillLawDTO"/>
        <typeAlias type="com.frankly.restapi.domain.VoteDTO" alias="VoteDTO"/>
        <typeAlias type="com.frankly.restapi.domain.PropertyDTO" alias="PropertyDTO"/>
        <typeAlias type="com.frankly.restapi.domain.PropertyChangeDTO" alias="PropertyChangeDTO"/>
        <typeAlias type="com.frankly.restapi.domain.PropertyListDTO" alias="PropertyListDTO"/>

    </typeAliases>

</configuration>
