@font-face {
  font-family: 'Noto Sans KR';
  src: url('./NotoSansKR-Medium.woff2') format('woff2'),
  url('./NotoSansKR-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./NotoSansKR-Bold.woff2') format('woff2'),
  url('./NotoSansKR-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./NotoSansKR-Regular.woff2') format('woff2'),
  url('./NotoSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
